th{
    width: 20%;
	background-color: #336699;
	color: white;
	font-weight: bold;
	padding: 8px;
    border: 1px solid lightgray;
    text-align: left;
    vertical-align: middle;
}

.inputs{
    width:99%;
}

.botao1{
    margin-top: 10px;
    margin-left: 50%;
    display: inline-block;
}

